body{
    background-image:url("https://tse2.mm.bing.net/th?id=OIP.7D4lY7nFGxuzf17dhQN8QQHaEK&pid=Api&P=0&h=180");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-decoration-color: green;
    background-color: aqua;
    width: auto;
    
}
input{
    background-color: greenyellow;
}
img{
    background-color:dodgerblue;
}
label{
    background-color: burlywood;
}
p{
    color:goldenrod;
    
}
.images{
    margin:40px;
    width:100px;
    height:100px;
}